html,
body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  background-color: #545d66;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h3,
p {
  margin: 0;
}

h3 {
  margin-bottom: 16px;
}

.overflow_hidden {
  overflow: hidden;
}

button {
  background-color: #49d0b0;
  border: none;
  border-radius: 16px;
  padding: 12px 24px;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  width: 250px;
  box-shadow: 5px 5px 15px rgb(39, 39, 39);
}

button:hover {
  cursor: pointer;
  border-color: #3aa18f;
  box-shadow: 0 0 0 3px rgba(39, 39, 39, 0.3);
}

.btn {
  width: 24px;
}

/* Header Section */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: #3aa18f;
  box-shadow: 5px 5px 15px rgb(39, 39, 39);
  z-index: 5;
  /* height: 80px; */
}

.header_content {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header_logo > img {
  height: 50px;
}

input {
  border: 2px solid #49d0b0;
  border-radius: 16px;
  padding: 12px 24px;
  font-size: 16px;
  color: #333333;
  width: 200px;
}

input::placeholder {
  color: #999999;
}

input:focus {
  outline: none;
  border-color: #3aa18f;
  box-shadow: 0 0 0 3px rgba(73, 208, 176, 0.3);
}

/* Main Section */

main {
  flex-grow: 1;
  margin: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.cards_wrapper {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.cards_content {
  text-transform: capitalize;
  width: 250px;
  height: 160px;
  padding: 16px;
  box-shadow: 5px 5px 15px rgb(39, 39, 39);
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.cards_content:hover {
  scale: 1.03;
  cursor: pointer;
}

.pokemon_info {
  display: flex;
  flex-direction: column;
}

#btn_left:hover,
#btn_right:hover {
  cursor: pointer;
  scale: 1.2;
}

.pokemon_id,
.pokemon_type {
  color: rgb(63, 62, 62);
}

.pokeball-background {
  width: 160px;
  height: 160px;
  position: absolute;
  right: -40px; /* 1/4 des Balls (30px) ist außerhalb der Karte */
  bottom: -40px; /* 1/4 des Balls (30px) ist außerhalb der Karte */
  opacity: 0.2;
  pointer-events: none;
}

.pokemon_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pokemon_image {
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.7));
}

.bg_grass {
  background-color: #49d0b0;
}

.bg_fire {
  background-color: #fc6c6c;
}

.bg_water {
  background-color: #76befe;
}

.bg_electric {
  background-color: #ffd672;
}

.bg_normal {
  background-color: #b6b58f;
}

.bg_ice {
  background-color: #96d9d6;
}

.bg_fighting {
  background-color: #c22e28;
}

.bg_poison {
  background-color: #a33ea1;
}

.bg_ground {
  background-color: #e2bf65;
}

.bg_flying {
  background-color: #a98ff3;
}

.bg_psychic {
  background-color: #f95587;
}

.bg_bug {
  background-color: #a6b91a;
}

.bg_rock {
  background-color: #b6a136;
}

.bg_ghost {
  background-color: #735797;
}
.bg_dragon {
  background-color: #6f35fc;
}
.bg_dark {
  background-color: #705746;
}
.bg_steel {
  background-color: #b7b7ce;
}
.bg_fairy {
  background-color: #d685ad;
}

/* DetailCards */
dialog {
  max-width: 1440px;
  padding: 0;
  width: 500px;
  height: 80%;
  z-index: 3;
  border-radius: 16px;
  border-width: 0;
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.7));
}

dialog::backdrop {
  backdrop-filter: blur(20px);
}

dialog:focus-visible {
  outline: 0;
}

.detail_card {
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_control {
  width: calc(100% - 32px);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.detail_card_infos_container {
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#detail_card_pokemon_image_container {
  position: relative;
  width: 100%;
  height: 250px;
  margin-top: -20px;
  margin-bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail_card_pokemon_image {
  height: 250px;
  max-width: 100%;
  object-fit: contain;
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.7));
}

#detail_card_pokemon_image_container > p {
  height: 250px;
  display: flex;
  align-items: center;
}

.pokemon_cry {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 16px;
  width: auto;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 1;
  position: relative;
}

.pokemon_cry img {
  width: 36px;
  height: 36px;
  display: block;
}

.pokemon_cry:hover {
  transform: scale(1.1);
}

.pokemon_cry:active {
  transform: scale(0.95);
}

.detail_card_details_container {
  background-color: white;
  width: 100%;
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.detail_card_stats {
  display: flex;
  justify-content: center;
  width: 90%;
  padding-top: 24px;
}

.details_slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  gap: 16px;
}

.details_slider > p {
  padding-bottom: 16px;
  border-bottom: 2px solid transparent;
  text-align: center;
  transition: all 150ms ease;
}

.details_slider > p:hover,
.details_slider > p.active {
  cursor: pointer;
  border-bottom: 2px solid #333;
}

.detail_card_details {
  display: flex;
  width: calc(100% - 32px);
  flex-grow: 1;
  /* margin: 0 16px; */
  flex-direction: column;
}

.about {
  width: 100%;
}

.about_table {
  width: 100%;
  padding: 16px;
}

.about_table td {
  width: 50%;
  padding: 8px 0;
  text-transform: none;
}

.about_table td:first-child {
  color: grey; 
}

#pokemon_region {
  text-transform: capitalize;
}

.detail_card_types {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-top: 16px;
}

.pokemon_type_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  width: fit-content; /* Passt die Breite an den Inhalt an */
  margin-bottom: 12px;
}

.pokemon_type_icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Loadingspinner */
.loading_spinner_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loading_spinner {
  animation: wobble 1s infinite alternate ease-in-out;
  transform-origin: 50% 100%; /* Zentrum unten */
}

.loading_spinner img {
  width: 150px;
}

@keyframes wobble {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

.impressum {
  width: 100%;
  padding: 16px;
  max-width: 1440px;
}

.impressum > p > a {
  color: black;
  text-decoration: none;
}

.impressum > p > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer {
  height: 50px;
  background-color: #3aa18f;
  padding: 16px;
  box-shadow: 5px 5px 15px rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_content {
  max-width: 1440px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer_link {
  color: #ffffff;
  text-decoration: none;
}

.footer_link:hover {
  text-decoration: underline;
}

.loading_hint {
  font-size: 14px;
  color: #666;
}

.d_none {
  display: none;
}

@media (max-width: 600px) {
  .header_content {
    flex-direction: column;
  }

  #shiny_image {
    width: 100%;
  }
}

@media (max-width: 550px) {
  dialog {
  width: 80%;
  }

  .pokemon_cry {
    margin: 0;
  }

  .details_slider {
    flex-direction: column;
    gap: 4px;
}

.details_slider > p {
  padding-bottom: 8px;
}

.about_table {
  padding: 0;
}

.pokemon_cry img {
  width: 24px;
  height: 24px;
}

.detail_card_stats {
  width: 100%;
}
}